<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDU9eiCdYAoqv4B_mXgQAQGRhWLvdPTGuw</string>
	<key>GCM_SENDER_ID</key>
	<string>475511500132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webrtcMessagingApp</string>
	<key>PROJECT_ID</key>
	<string>world-pff</string>
	<key>STORAGE_BUCKET</key>
	<string>world-pff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475511500132:ios:cede2eec80573c55ecde71</string>
</dict>
</plist>